@media(max-width:1024px) {
    header .container {
        width: 100% !important;
        padding: 30px 20px;
    }

    header .logo {
        flex-basis: 120px;
    }

    header .main-menu>li>a {
        font-size: 1rem;
        line-height: 2;
    }

    header .sub-menu {
        width: 150px;
        left: 20px;
        top: 40px;
    }

    header .sub-menu a {
        padding: 5px 20px;
    }

    header .sub-menu span {
        font-size: 13px !important;
    }

    header .util {
        flex-basis: 120px;
    }

    header .util a {
        font-size: .8rem;
        margin-right: 10px;
    }

}

@media(max-width:768px) {
    header .container {
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    body.is-fixed {
        margin-top: 54px;
    }

    body.is-fixed header .container {
        position: fixed;
        top: 0;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(20, 20, 20, .08);
        animation: headerIn .3s ease-out;
        z-index: 99;
    }

    @keyframes headerIn {
        from {
            transform: translateY(-54px);
        }

        to {
            transform: translateY(0);
        }
    }

    header .page-prev,
    header .hamberger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: -15px;
        flex-basis: 54px;
        font-size: 1.2rem;
    }

    .index header .page-prev {
        visibility: hidden;
    }

    header .page-prev {
        padding-right: 10px;
    }

    .index header .logo {
        flex-basis: auto;
        height: 28px;
    }

    header .logo {
        flex-basis: auto;
        height: auto;
    }

    header .logo img {
        display: block;
    }

    header .logo .mobile-current-title {
        font-weight: 600;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: #fff;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: transform .3s, opacity .3s;
        transform: translateX(100%);
        opacity: 0;
    }

    .mobile-menu.is-active {
        transform: translateX(0);
        opacity: 1;
    }

    .mobile-menu .header {
        display: flex;
        padding: 20px 30px;
        background-color: #5caade;
        margin-bottom: 20px;
    }

    .mobile-menu .header .user-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        margin: 7px 0;
    }

    .mobile-menu .header .user-info .avatar {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 15px;
    }

    .mobile-menu .header .user-info .avatar img {
        display: block;
    }

    .mobile-menu .header .user-info .name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 3px;
    }

    .mobile-menu .header .user-info .name span {
        font-weight: normal;
        opacity: .5;
    }

    .mobile-menu .header .user-info .login-message {
        font-size: .7rem;
        opacity: .8;
    }

    .mobile-menu .header .user-info .links {
        display: flex;
        margin-top: 6px;
    }

    .mobile-menu .header .user-info .links a {
        display: block;
        border: .5px solid rgba(255, 255, 255, .4);
        padding: 7px 10px;
        line-height: 1;
        font-size: 12px;
        color: rgba(255, 255, 255, .9);
        margin-right: 7px;
        border-radius: 2px;
    }

    .mobile-menu .close-mobile-menu {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        margin: -15px;
        flex-basis: 54px;
        font-size: 1.2rem;
    }

    .mobile-menu .close-mobile-menu i {
        color: #fff;
    }

    .mobile-menu nav {
        /* padding: 10px; */
    }

    .mobile-menu nav ul {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mobile-menu nav ul:not(:last-of-type) {
        border-bottom: 1px solid #eee;
    }
    .mobile-menu nav ul:last-of-type {
        margin-bottom: 0;
    }

    .mobile-menu nav ul li {
        width: 70px;
        text-align: center;
        font-size: .8rem;
    }

    .mobile-menu nav ul li .image {
        margin-bottom: 4px;
    }

    .mobile-menu nav ul li .image img {
        width: 45px;
        margin: 0 auto;
    }

    .mobile-menu nav ul li span {
        font-size: .75rem;
    }
    .mobile-menu nav ul.sub-check {
        flex-direction: column !important;
        /* justify-content: center !important; */
        margin: 25px 0;
        padding-bottom: 0;
    }
    .mobile-menu nav ul.sub-check li {
        width: 90%;
        margin: 0 auto;
    }
    .mobile-menu nav ul.sub-check a {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        padding: 10px 15px;
        margin-bottom: 7px;
        border-radius: 4px;
    }
    .mobile-menu nav ul.sub-check li:last-of-type a {
        margin-bottom: 0;
    }
    .mobile-menu nav ul.sub-check a .image {
        margin: 0;
        margin-right: 7px;
    }
    .mobile-menu nav ul.sub-check a img {
        height: 30px;
        width: 30px;
    }
    .mobile-menu nav ul.sub-check a span {
        font-size: 15px;
        color: #777;
    }
    .mobile-menu nav ul.sub-check a span b {
        margin-left: 5px;
    }
    .mobile-menu nav ul.statistic li {
        width: 100% !important;
    }
    .mobile-menu nav ul.statistic li a {
        display: flex;
        align-items: center;
        justify-content: center;
        word-break: keep-all;
    }
    .mobile-menu nav ul.statistic li img {
        width: 40px;
        border-radius: 50%;
    }
    .mobile-menu nav ul.statistic li span {
        text-align: left;
        margin-left: 10px;
        line-height: 1.4;
        font-size: 12px;
    }

    .mobile-menu .bottom ul {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: grid;
        padding: 15px 20px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .mobile-menu .bottom a {
        font-size: 12px;
        color: #777;
    }

    .mobile-menu .slogan {
        text-align: center;
        padding: 20px;
        font-size: .9rem;
        color: #999;
    }

    .mobile-menu .slogan b {
        color: #000;
    }

    .mobile-menu .goods-banner {
        font-size: 0;
    }

    .sub .main-title {
        display: none;
    }

    .top-bar {
        flex-direction: column;
        margin: 0 0 2rem 0;
    }

    .top-bar .buttons {
        margin-top: 20px;
        justify-content: center;
    }

    .top-bar .description {
        font-size: 1.4rem;
        word-break: keep-all;
        line-height: 1.3;
    }

    .top-bar .description p:last-child {
        margin-top: 5px;
    }

    .main .swiper-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main .swiper-slide {
        border-radius: 15px;
    }

    .main .swiper-slide-active {
        transform: translateY(-20px) !important;
        box-shadow: 0 5px 20px rgb(255, 255, 255), 0 40px 25px -10px rgba(20, 20, 20, .1);
    }

    .main .swiper-slide dl {
        padding: 40px 20px 30px 20px;
    }

    .main .swiper-slide dt {
        font-size: .6rem;
        top: 15px;
        left: 15px;
        border-radius: 3px;
    }

    .main .swiper-slide dd.emoji img {
        width: 2.5rem;
    }

    .main .swiper-slide dd.subject {
        font-size: 1.2rem;
        word-break: keep-all;
    }

    .main .swiper-slide dd.desc {
        font-size: .7rem;
        line-height: 1.3;
        padding: 0;
    }

    .main section.slider-banner {
        margin-bottom: 0 !important;
        margin-top: 0;
    }

    .main section:not(.fullwidth-banner) {
        margin-bottom: 2rem;
    }

    .main section:not(.slider-banner) .container,
    .sub section:not(.slider-banner) .container {
        padding: 20px;
    }

    .sub .container {
        width: 100%;
    }

    .main .slogan h1 {
        font-size: 1.4rem;
    }

    .main .slogan h1+p {
        font-size: .8rem;
    }

    .main-title {
        margin-bottom: 15px;
    }

    .main-title h2 {
        margin-left: 3px;
    }

    .main h2 sup {
        font-size: .6rem;
    }

    .main h2 span {
        font-size: 1.2rem;
    }

    .main-title img {
        width: 45px;
        height: 45px;
    }

    .psy-check-list a {
        font-size: .8rem;
        padding: 5px 12px;
        margin: 3px;
    }

    .image-test .image-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 30vw;
        gap: 10px;
    }

    .image-test .image-list li {
        width: auto;
        margin: 0;
        border-radius: 7px;
    }
    .image-test .image-list li:nth-of-type(n+5) {
        /* display: none; */
    }

    .image-test .image-list li span {
        font-size: .7rem;
        bottom: 6px;
        left: 10px;
    }

    .image-list+.buttons {
        margin-top: 30px !important;
    }

    .image-list+.buttons .button,
    .consulting .container>.buttons .button,
    .maum-manual .buttons .button,
    .psy-check .buttons .button,
    .todak .container>.buttons .button {
        width: 100% !important;
    }

    .main .post-list {
        display: flex;
        flex-wrap: wrap;
    }

    .main .post-list li {
        width: 100%;
    }
    .main .post-list li:nth-of-type(n+2) {
        display: none;
    }

    .main .post-list li dl {
        padding: 0;
        margin-top: 1rem;
    }

    .main .post-list li dt {
        font-size: 1rem;
        line-height: 1.4;
    }

    .main .post-list li dd {
        font-size: .8rem;
        line-height: 1.4;
    }

    .main .post-list li .tag {
        font-size: .7rem;
        left: 8px;
    }
    .main .post-list li .photo {
        border-radius: 6px;
        height: 140px;
        padding-top: 0;
    }
    .main .post-list li img {
        position: relative;
        top: unset;
        transform: none;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .main .share-heart .content-list {
        padding: 0 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
    }

    .main .share-heart .content-list li {
        width: 100%;
        margin: 0;
    }

    .main .share-heart .content-list li dl dt {
        font-size: 1rem;
        margin-bottom: 3px;
    }

    .main .share-heart .content-list li dl dd {
        font-size: .7rem;
    }

    .main .relaxation .content-list li img {
        width: 80%;
    }

    .main .relaxation .content-list dl {
        padding: 10px 0;
    }

    .main .relaxation .content-list dl dt {
        font-size: 1rem;
    }

    .main .relaxation .content-list dl dd {
        font-size: .7rem;
    }

    .main .etc-content {
        margin-top: 3rem;
        margin-bottom: 0 !important;
    }
    .main .etc-content .content-list {
        flex-direction: column;
        margin: 0;
    }
    .main .etc-content .content-list li {
        width: 100%;
        margin: 0 0 1rem;
        border-radius: 5px;
    }
    .main .etc-content .content-list li:last-child {
        margin-bottom: 0;
    }
    .main .etc-content .content-list li img {
        width: 100px !important;
    }
    .main .etc-content .content-list li div {
        margin-left: 1.2rem;
    }
    .main .etc-content .content-list li h3 {
        font-size: 1rem;
    }
    .main .etc-content .content-list li p {
        margin-top: 5px;
        font-size: 11px;
        padding-right: 1rem;
    }

    .post-detail,
    .post-write {
        padding: 0;
    }

    .comments {
        padding: 0;
        margin-top: 50px;
    }

    .post-detail .images,
    .post-write .images {
        margin-bottom: 1rem;
    }

    .images.js-upload-image .upload-button {
        width: 100%;
        padding: 20px;
    }

    .images.js-upload-image .upload-button img {
        width: 3rem;
        object-fit: contain;
    }

    .images.js-upload-image .upload-button p {
        font-size: 12px;
    }

    .images.js-upload-image .upload-button p b {
        font-size: 1rem;
    }

    .sub .maum-manual .psy-check-list li,
    .sub .psy-check .psy-check-list li {
        width: auto;
    }

    .sub .maum-manual .thumbnail {
        width: 80px !important;
        height: 80px !important;
    }

    .sub .maum-manual .psy-check-list li a,
    .sub .psy-check .psy-check-list li a {
        padding: 0 7px;
        height: 1.7rem;
        font-size: 11px;
    }

    .sub .maum-manual .post-list .subject {
        margin-top: 0;
        line-height: 1.4;
    }

    .sub .maum-manual .post-list .info {
        margin-top: 5px;
    }

    .sub .post-list>li {
        width: 100%;
    }

    .sub .post-list>li:last-of-type {
        margin-bottom: 0;
    }

    .sub .post-list>li a {
        display: flex;
    }

    .sub .post-list>li .thumbnail {
        flex-shrink: 0;
        width: 65px;
        height: 65px;
        margin-right: 12px;
        border-radius: 5px;
    }

    .sub .post-list .info span:not(.date) {
        margin-right: 10px !important;
    }

    .sub .post-list .info span:last-of-type {
        margin-right: 0 !important;
    }

    .sub .post-content {
        width: calc(100% - 77px);
    }

    .sub .post-content>.keyword {
        margin-top: 0;
        font-size: 11px;
        font-weight: normal;
    }

    .sub .post-content>.subject span:not(.date) {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        line-height: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        font-size: 15px;
        margin-top: 3px;
    }

    .sub .post-content>.info {
        margin-top: 10px;
        font-size: 12px;
    }

    .sub .post-detail .header {
        /* flex-direction: column; */
        /* align-items: flex-start; */
    }

    .sub .post-detail .header .keyword {
        font-size: 11px;
    }

    .sub .post-detail .header h1 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .sub .post-detail .header .date {
        margin-top: 10px;
        font-size: 13px;
    }

    .sub .post-detail .header .likes {
        font-size: 12px;
        padding: 5px 8px;
    }

    .fullwidth-banner .container {
        padding: 0 !important;
    }

    .wecaning-test {
        margin-bottom: 0 !important;
    }

    .wecaning-test .item-list {
        padding: 2rem 0;
    }

    .wecaning-test .item-list li a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background-color: #F7F7F7;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .wecaning-test .item-list li:last-of-type a {
        margin-bottom: 0;
    }

    .wecaning-test .item-list li .image {
        width: 40px;
        margin-right: 10px;
    }

    .wecaning-test .item-list li .name {
        font-size: .9rem;
        margin-right: auto;
        color: #333;
    }

    .wecaning-test .item-list li .link {
        background-color: #EBEBEB;
        color: #A0A0A0;
        font-size: .7rem;
        padding: 8px 10px;
        line-height: 1;
        border-radius: 3px;
    }

    .is-consulting .post-content {
        width: calc(100% - 97px) !important;
    }

    .is-consulting .thumbnail {
        width: 80px !important;
    }

    .is-consulting .running-time {
        bottom: 5px !important;
        right: 5px !important;
        font-size: 11px !important;
    }

    .is-consulting .info {
        margin-top: 10px !important;
    }

    .sub .consulting .subject,
    .sub .tv .subject {
        margin-top: 0 !important;
    }

    .sub .consulting .info,
    .sub .tv .info {
        /* margin-top: 0 !important; */
    }

    .sub .tv .info {
        font-size: 11px;
    }

    .sub .tv .tags {
        margin-bottom: 5px;
    }

    .sub .consulting .post-list li:last-of-type,
    .sub .tv .post-list li:last-of-type {
        margin-bottom: 0;
    }

    .sub .is-todak>li {
        padding: .5rem 1rem;
        margin-bottom: 0;
    }

    .sub .is-todak a {
        height: auto;
    }

    .sub .is-todak .post-content {
        width: 100%;
    }

    .sub .is-todak .subject {
        text-overflow: unset;
        width: 100%;
        white-space: normal;
        line-height: 1.4;
        height: auto;
        max-height: 114px;
        margin-bottom: 30px;
        margin-top: 0;
    }

    .sub .is-todak .info {
        margin-top: 0;
    }

    .sub .todak .post-detail .info {
        flex-wrap: wrap;
    }

    .sub .todak .post-detail .info dd:first-of-type {
        width: 100%;
        margin-bottom: 3px;
    }

    section:not(.image-test) .button.is-save {
        width: 100%;
    }

    .sub .salon .post-list>li {
        padding: 0;
    }

    .sub .salon .post-content {
        width: 100%;
    }

    .sub .salon .post-content>.info {
        font-size: 12px;
    }

    .sub .salon .post-content .subject {
        position: relative;
    }

    .sub .salon .post-content .subject span {
        padding-right: 25px;
    }

    .sub .salon .post-content .subject i {
        position: absolute;
        right: 0;
        top: 3px;
    }

    .sub .post-detail .header .info {
        margin-top: 10px;
        font-size: 13px;
    }

    .sub .phrase .post-list>li,
    .sub .diary .post-list>li {
        padding: 0;
    }

    .sub .phrase .post-list>li a,
    .sub .diary .post-list>li a {
        padding: .9rem 0;
    }

    .sub .phrase .post-content,
    .sub .diary .post-content {
        width: 100%;
    }

    .sub .phrase .post-content .subject,
    .sub .diary .post-content .subject {
        margin: 0;
        font-size: .9rem;
    }

    .sub .phrase .post-content>.info,
    .sub .diary .post-content>.info {
        font-size: 12px;
    }

    .sub .phrase .post-detail .phrase-body {
        font-size: 1.6rem;
    }

    .sub .diary .post-list .post-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sub .diary .post-list .post-content .subject {
        position: relative;
        width: 100%;
        line-height: 1;
        margin-bottom: 5px;
    }

    .sub .diary .post-list .post-content .subject .text {
        padding-right: 20px;
        color: #000;
    }

    .sub .diary .post-list .post-content .subject i {
        position: absolute;
        right: 0;
    }

    .sub .diary .post-list .post-content .subject .date {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .sub .diary .post-list .post-content .subject span {
        margin: 0;
    }

    .sub .diary .post-content>.info .date {
        width: auto;
    }

    .sub .music .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub .music .post-content>.subject {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .sub .music .post-content>.info {
        margin-top: 0 !important;
        font-size: 12px;
    }

    .sub .music .post-list li:last-of-type {
        margin-bottom: 0;
    }

    .sub .psy-check .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sub .psy-check .post-content .subject {
        margin-top: 0;
        line-height: 1.3;
        word-break: break-all;
    }

    .sub .psy-check .post-content .keyword {
        margin-top: 5px;
    }

    .sub .psy-check .check-detail .header {
        margin: -20px;
        margin-bottom: 0;
        padding: 3rem 3rem;
    }

    .sub .psy-check .check-detail .header .title {
        font-size: 1.5rem;
    }

    .sub .psy-check .check-detail .body {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .sub .psy-check .check-detail .body ul {
        margin-left: 22px;
    }

    .sub .psy-check .check-detail .body ul li {
        margin-bottom: 1rem;
        font-size: .9rem;
    }

    .sub .psy-check .check-detail .body .button {
        margin-bottom: 0;
    }

    .sub .psy-check.is-complete .content img {
        width: 170px;
    }

    .sub .psy-check.is-complete .content h2 {
        font-size: 1.5rem;
    }

    .sub .psy-check .test {
        width: 100%;
    }

    .sub .edu .post-list .subject {
        margin-top: 0;
    }
    .sub .edu .post-detail .info {
        margin-top: 10px !important;
    }

    .sub .statistic-list {
        margin: -5px;
    }
    .sub .statistic-list li {
        width: 33.3%;
        font-size: 13px;
    }
    .sub .statistic-list li a {
        padding: 13px 0;
        margin: 5px;
    }
    .sub .statistic-list li a img {
        width: 40px;
        margin-bottom: 5px;
    }

    .sub .statistic .question {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .sub .statistic .question h3 {
        flex-direction: column;
        font-size: 14px;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .sub .statistic .question h3 i {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .sub .statistic .question-item {
        width: 100%;
    }
    .sub .statistic .question-item li {
        flex-direction: column;
        width: 50% !important;
    }

    .test .testItem {
        margin-bottom: 20px;
    }

    .test .testNumber {
        font-size: 1rem;
        left: 1rem;
    }

    .test dl dt {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.3rem;
    }

    .test ul li {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .test ul li label {
        font-size: 11px;
        letter-spacing: -1px;
    }

    .test ul li label span {
        width: 45px;
        height: 45px;
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .test ul li input[type=radio]+label span::after {
        width: 20px;
        height: 20px;
        background-size: 10px;
    }

    .account .slogan h1 {
        font-size: 1.6rem;
    }

    .account .slogan p {
        font-size: .8rem;
    }

    .account .field-login,
    .account .field-register,
    .account .field-withdraw {
        width: 100%;
    }

    .account .field-register .button {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .account .page-title h1 {
        font-size: 1.5rem;
    }

    .account .account-complete {
        width: 100%;
    }

    .account .account-complete img {
        width: 170px;
    }

    .account .account-complete h2 {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.5;
        padding: 0 30px;
    }

    .account .account-complete h2+p {
        font-size: 13px;
        padding: 0 50px;
        word-break: keep-all;
    }

    .account .message {
        width: 100%;
    }

    .account .test-list {
        width: 100%;
    }
    .account .test-list + .buttons .button {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .etc .buttons .button {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .board .page-title h1 {
        font-size: 1.5rem;
    }

    .board .field-board {
        width: 100%;
    }

    .board .field-board .buttons .button {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .board .board-list li {
        font-size: 13px;
    }

    .board .board-detail .header dt {
        font-size: 1.1rem;
    }
    .board .board-detail .header dd {
        font-size: 12px;
    }
    .board .board-detail .board-content {
        font-size: 14px;
    }

    .account .check-detail .header {
        padding: 3rem !important;
    }
    .account .check-detail .body .graph .comment {
        font-size: 1.4rem;
    }
    .account .check-detail .post-list {
        margin: 0 !important;
    }
    .account .check-detail .post-list > li {
        padding: 0;
    }
    .account .check-detail .post-list > li .post-content {
        margin-left: 0 !important;
    }
    .account .check-detail .post-list > li .post-content .keyword {
        margin-bottom: 2px;
        margin-top: 0;
        font-size: 11px;
    }
    .account .check-detail .post-list > li .post-content .subject {
        font-size: 15px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .account .check-detail .post-list > li .post-content .info {
        font-size: 11px;
        margin: 0;
        margin-top: 7px;
    }

    

    .pagination-list {
        flex-wrap: nowrap;
    }


    .tabs li {
        flex-grow: 1;
        flex-shrink: 0;
    }

    .footer .foot-menu {
        padding: 10px;
        border-top: 1px solid #eee;
    }

    .footer .foot-menu nav {
        width: 100%;
    }

    .footer .foot-menu nav a {
        font-size: .7rem;
    }

    .footer .foot-content {
        margin-top: 10px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .foot-content .foot-logo {
        width: 60px;
    }

    .footer .foot-content .foot-info {
        width: 100%;
    }

    .footer .foot-content .foot-info dt {
        display: block !important;
    }

    .footer .foot-content .foot-info dt,
    .footer .foot-content .foot-info dd {
        display: inline-block;
        font-size: 11px;
    }

    .footer .right {
        width: 100%;
        margin-top: 20px;
        align-items: center;
    }

    .footer .related-site {
        font-size: 11px;
        height: 25px;
    }

    .footer .related-site .site-list {
        bottom: calc(1.8rem - 6px);
    }

    .footer .sns li {
        width: 25px;
        margin-right: 8px;
    }

    .footer .partner dl dt {
        font-size: 11px;
    }

    .footer .partner dl dd img {
        height: 20px;
    }

    .footer .copyright {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 11px;
    }

    .main .buttons {
        margin-top: 1.5rem;
    }

    .main .buttons .button {
        width: 100%;
        font-size: 14px;
        height: 3rem;
        margin: 0 !important;
    }

    .wecaning-start-main-visual {
        margin-bottom: 2rem;
    }

    .wecaning-start-main-visual .subject {
        align-items: center;
        padding-left: 0;
    }
    .wecaning-start-main-visual .subject sup {
        font-size: .9rem;
    }
    .wecaning-start-main-visual .subject h1 {
        font-size: 3rem;
        margin-bottom: 10rem;
        letter-spacing: -2px;
    }
    .wecaning-start-main-visual .subject .button {
        width: auto;
        padding: 0 40px;
    }

    .banner {
        margin: 2rem 0;
    }
    .banner .container {
        padding: 0 20px !important;
    }

    .movie-about {
        margin: 2rem 0;
    }
    .movie-about .container {
        padding: 2rem;
    }
    .movie-about .text {
        line-height: 1;
    }
    .movie-about .text img {
        width: 80px;
        margin-right: 1rem;
    }
    .movie-about .text .desc span {
        font-size: .7rem;
    }
    .movie-about .text .desc h2 {
        font-size: 1.7rem;
    }

    .main .post-list.is-3 li {
        width: 100%;
    }
    .main .post-list.is-3 li:nth-of-type(n+2) {
        display: block;
    }

    .smart-banner a img {
        display: block;
        width: 100%;
        max-width: none !important;
    }

}