@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html,
body {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-size: 14px; */
}

.no-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}

a,
a:hover {
    color: #000;
}

.font-serif {
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -1px;
}

/* header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    max-width: 100%;
    padding: 30px;
}

header .logo {
    height: 46px;
    flex-basis: 200px;
}

header .logo img {
    height: 100%;
}

header .main-menu {
    display: flex;
}

header .main-menu>li {
    position: relative;
}

header .main-menu>li>a {
    display: block;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
    transition: transform .3s;
}

header .main-menu>li>a:hover {
    transform: translateY(-5px);
}

header .main-menu>li:hover .sub-menu {
    display: block;
}

header .main-menu>li:nth-of-type(1) b {
    color: #57C3C3;
}

header .main-menu>li:nth-of-type(2) b {
    color: #83C670;
}

header .main-menu>li:nth-of-type(3) b {
    color: #F0AA4A;
}

header .main-menu>li>a b {
    margin-left: 5px;
}

header .sub-menu {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 180px;
    margin: 0 auto;
    z-index: 99;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.06);
    display: none;
}

header .sub-menu a {
    display: flex;
    align-items: center;
    line-height: 2.5rem;
    padding: 5px 30px;
    color: #555;
}

header .sub-menu a:hover {
    background-color: #f7f7f7;
    color: #000;
}

header .sub-menu img {
    width: 30px;
    margin-right: 5px;
}

header .sub-menu span {
    font-size: 15px;
}

header .util {
    flex-basis: 200px;
    text-align: right;
}

header .util a {
    font-size: 14px;
    margin-right: 1.5rem;
}

header .util a:last-of-type {
    margin-right: 0;
}


/* slider-banner */
.main .slider-banner {
    margin-top: 20px;
}

.main .slider-banner .container {
    max-width: 1600px;
}

.main .swiper-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.main .swiper-slide {
    text-align: center;
    border-radius: 20px;
    background-color: #f5f6f6;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 50px 30px -20px rgba(20, 20, 20, 0);
    transform: translateY(0);
    transition: background .5s, color .5s, transform 1s, box-shadow 1s;
}

.main .swiper-slide dt {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.4);
    padding: 5px 8px;
    line-height: 1;
    border-radius: 5px;
}

.main .swiper-slide dd.emoji {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .swiper-slide dd.emoji img {
    width: 70px;
}

.main .swiper-slide dd.subject {
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}

.main .swiper-slide dd.desc {
    font-size: 15px;
    opacity: .5;
    padding: 0 2rem;
    word-break: keep-all;
}

.main .swiper-slide.bg-1 {
    background-color: #F8EFED;
}

.main .swiper-slide.bg-2 {
    background-color: #E1EFF0;
}

.main .swiper-slide.bg-3 {
    background-color: #E6F2E6;
}

.main .swiper-slide.bg-4 {
    background-color: #F5F5DF;
}

.main .swiper-slide.bg-5 {
    background-color: #F5F0F7;
}

.main .swiper-slide-active {
    color: #000;
    transform: translateY(-30px);
    box-shadow: 0 40px 30px -20px rgb(255, 255, 255), 0 60px 40px -40px rgba(20, 20, 20, .2);
}

.main .swiper-slide dl {
    padding: 50px;
}

/* slogan */
.main .slogan {
    text-align: center;
    margin-bottom: 50px;
}

.main .slogan h1 {
    font-size: 2rem;
    color: #333;
}

.main .slogan h1+p {
    color: #999;
}

/* main-title */
.main-title {
    display: flex;
    margin-bottom: 2rem;
}

.main-title img {
    width: 60px;
}

.main-title h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}

.main-title h2 span {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    color: #333;
}

.main-title h2 sup {
    font-size: 1rem;
    color: #999;
    line-height: 1;
    margin-bottom: 3px;
}

.main-title .breadcrumb {
    margin-left: auto;
    display: flex;
    font-size: 12px;
}

.main-title .breadcrumb .current span {
    padding: 0 0.75em;
    font-weight: 600;
}

.main-title .breadcrumb a {
    color: #999;
}

.main-title .breadcrumb a:hover {
    color: #555;
}

.breadcrumb li+li::before {
    color: #ccc;
}

.sub .main-title {
    width: 100%;
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 10px;
}

.sub .main-title img {
    width: 40px;
}

.sub .main-title h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub .main-title h2 span {
    font-size: 1.4rem;
}

.sub .main-title h2 .description {
    font-weight: normal;
}

/* psy-check */
.psy-check {
    margin-bottom: 100px;
}

.psy-check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.psy-check-list a {
    display: block;
    border: 1px solid #000;
    padding: .6rem 2rem;
    text-align: center;
    margin: .5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color .3s, color .5s;
}

.psy-check-list a::before {
    display: inline-block;
    content: "#";
    margin-right: 3px;
}

.psy-check-list li.is-active a {
    font-weight: 600;
}

/* image-test */
.image-test {
    margin-bottom: 100px;
}

.sub>section:not(.fullwidth-banner) {
    margin-bottom: 60px;
}

.sub .container {
    width: 800px;
}

.image-test .image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-test .image-list li {
    position: relative;
    width: 23%;
    padding-top: 15%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: calc(8% / 3);
    margin-bottom: calc(8% / 3);
}

.image-test .image-list li:nth-of-type(4n) {
    margin-right: 0;
}

.image-test .image-list li:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.image-test .image-list li a {
    display: block;
}

.image-test .image-list li img {
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    width: 100%;
}

.image-test .image-list li::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 40%);
    z-index: 1;
    pointer-events: none;
}

.image-test .image-list li span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.images input[type=file] {
    display: none;
}

.images.js-upload-image .upload-button {
    background-color: #f7f7f7;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.images.js-upload-image .upload-button p {
    color: #999;
}

.images.js-upload-image .upload-button p b {
    display: block;
    font-size: 1.3rem;
    color: #333;
}

/* maum-manual */
.main .maum-manual {
    margin-bottom: 100px;
}

.main .post-list {
    display: flex;
    margin: 0 -1rem;
}

.main .post-list li {
    position: relative;
    width: 25%;
    padding: 1rem;
    /* margin-right: 2.5%; */
}

.main .post-list li:last-of-type {
    margin-right: 0;
}

.main .post-list li .photo {
    position: relative;
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
    border-radius: 10px;
}

.main .post-list li img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .post-list li .tag {
    position: absolute;
    top: 10px;
    left: 3px;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

.main .post-list li:nth-of-type(1) .tag {
    background-color: #25D0AF;
}

.main .post-list li:nth-of-type(2) .tag {
    background-color: #EF942C;
}

.main .post-list li:nth-of-type(3) .tag {
    background-color: #37A2E6;
}

.main .post-list li:nth-of-type(4) .tag {
    background-color: #8a50d6;
}

.main .post-list li dl {
    padding: .8rem;
}

.main .post-list li dt {
    font-size: 1.3rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.main .post-list li dd {
    color: #999;
}

.main .post-list li dd.info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main .post-list li dd.info .like i {
    color: #F26969;
}

.main .post-list li dd.info .like span {
    color: #000;
}

/* share-heart */
.main .share-heart {
    margin-bottom: 100px;
}

.main .share-heart .content-list {
    display: flex;
    margin: 0 -1rem;
}

.main .share-heart .content-list li {
    /* margin-right: 2.5%; */
    margin: 1rem;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
}

.main .share-heart .content-list li:last-of-type {
    margin-right: 0;
}

.main .share-heart .content-list li .photo {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
}

.main .share-heart .content-list li .photo img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .share-heart .content-list li dl {
    text-align: center;
    padding: 1rem;
}

.main .share-heart .content-list li dl dt {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .share-heart .content-list li dl dd {
    color: #999;
}

/* relaxation */
.main .relaxation {
    margin-bottom: 100px;
}

.main .relaxation .content-list {
    display: flex;
    justify-content: space-between;
}

.main .relaxation .content-list li {
    width: 33.3%;
    text-align: center;
}

.main .relaxation .content-list li img {
    border-radius: 50%;
    width: 60%;
}

.main .relaxation .content-list dl {
    padding: 1rem;
}

.main .relaxation .content-list dl dt {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .relaxation .content-list dl dd {
    color: #999;
    width: 85%;
    margin: 0 auto;
}

/* etc-content */
.main .etc-content .content-list {
    display: flex;
    margin: 80px -1rem;
}

.main .etc-content .content-list li {
    margin: 1rem;
    width: 50%;
    overflow: hidden;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
}

.main .etc-content .content-list li a {
    display: flex;
    align-items: center;
}

.main .etc-content .content-list li a img {
    width: 150px;
}

.main .etc-content .content-list div {
    margin-left: 2rem;
}

.main .etc-content .content-list h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.main .etc-content .content-list p {
    color: #999;
    text-align: left;
    padding-right: 50px;
    word-break: keep-all;
}

/* fullwidth banner */
.fullwidth-banner .container {
    max-width: 100%;
    width: 100%;
}

.fullwidth-banner .container a {
    display: block;
    background-color: #f4f6f8;
    width: 100%;
}

.fullwidth-banner .container a img {
    display: block;
    margin: 0 auto;
}

/* main button */
.main .buttons {
    margin-top: 30px;
}

.main .button {
    width: 280px;
}


/* sub */
.top-bar {
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}

.top-bar .description {
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -1px;
    border-left: 3px solid #eee;
    padding-left: 1rem;
    color: #000;
}
.top-bar .description p:last-child {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    color: #999;
}

/* post */
.post-detail,
.post-write {
    padding: 0 20px;
}

.post-detail .images,
.post-write .images {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.post-detail .images img,
.post-write .images img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

.post-detail .youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 2rem;
}

.post-detail .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-detail .header .subject .info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.post-detail .header .subject .info div {
    color: #999;
    margin: 0;
    margin-right: 15px;
    line-height: 1;
}

.post-detail .header .subject .info div b {
    color: #333;
}

.post-detail .body {
    margin-bottom: 2rem;
    color: #555;
}

.post-detail .body p {
    margin: 1rem 0;
    line-height: 1.7;
}

.post-detail .body p:first-of-type {
    margin-top: 0;
}

.post-detail .body p:last-of-type {
    margin-bottom: 0;
}

.post-detail .body .images {
    margin: 2rem 0;
}

.post-write .body .textarea {
    height: 200px;
}

.post-detail .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.post-detail .bottom .info dt {
    color: #000;
}

.post-detail .bottom .info dd {
    color: #999;
    font-size: 13px;
}

.post-detail .bottom .info dd:first-of-type {
    color: #666;
}

.post-detail .likes {
    /* font-size: 1.2rem; */
}

.post-detail .likes i,
.comment-list .likes i {
    color: #ccc;
    margin-right: .3rem;
}

.post-detail .likes .like-count {
    color: #000;
}

.post-detail .buttons,
.post-write .buttons {
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding-top: 2rem;
}

.post-detail .buttons .is-edit {
    margin-left: 30px !important;
}

.button.likes.is-clicked i {
    color: #f14668;
}

.sub .image-test .image-list li span {
    bottom: 10px;
    left: 15px;
    font-size: 13px;
}

.sub .image-test .container>.buttons .button {
    width: 25%;
}

.sub .post-detail .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.sub .post-detail .header .keyword {
    display: inline-block;
    align-items: center;
    font-size: 13px;
    padding: .2rem .8rem;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.sub .post-detail .header h1 {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #000;
}

.sub .post-detail .header .date {
    line-height: 1;
    margin-top: 5px;
    color: #999;
}

.sub .post-detail .share {
    display: flex;
    justify-content: center;
}

.sub .post-detail .share a {
    display: block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 .2rem;
}

.sub .post-detail .share img {
    display: block;
}

/* comments */
.comments {
    padding: 20px;
}

.comments h3 {
    display: flex;
    align-items: center;
}

.comments h3 .number {
    margin-left: .3rem;
    font-size: 1rem;
    padding: 0 .8rem;
}

.comments .textarea {
    resize: none;
    max-height: unset;
    min-height: unset;
    height: 95px !important;
    border-radius: 3px 3px 0 0;
}

.comments .input-footer {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    display: flex;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
}

.comment-list {
    margin-top: 10px;
}

.comment-list>li {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}

.comment-list .comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment-list .comment-top .user-info {
    line-height: 1;
}

.comment-list .comment-top .user-info b {
    margin-right: 5px;
}

.comment-list .comment-top .user-info dt {
    margin-bottom: 5px;
    font-size: 14px;
}

.comment-list .comment-top .user-info dd {
    font-size: 11px;
    color: #999;
}

.comment-list .comment-top .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.comment-list .comment-top .button.likes {
    padding: 0 .5rem;
    height: 2rem;
    font-size: 14px;
}

.comment-list .comment-top .button.likes i {
    margin-right: 3px;
    /* color: #ddd; */
}

.comment-list .comment-body {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #777;
    text-align: justify;
}

.comment-list .comment-body .deleted {
    color: #ccc;
    margin-top: 5px;
}

.comment-list .comment-footer .comment-menu {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.comment-list .comment-footer .comment-menu a {
    color: #000;
    padding: 10px 0;
}

.comment-list .comment-footer .comment-menu .util a {
    color: #bbb;
}

.comment-list .comment-footer .comment-menu .util a:first-of-type {
    margin-right: 10px;
}

.comment-list .reply-container .comment-menu {
    justify-content: flex-end;
}

.comment-list .reply-container .comment-menu a:first-of-type {
    margin-right: 0 !important;
}

.comment-list .comment-footer .comment-menu .js-button-viewReply b {
    margin-left: 5px;
}

.comment-list .comment-footer {
    padding-bottom: 10px;
}

.comment-list .reply-container {
    display: none;
    background-color: #FAFAFA;
    padding: 15px;
}

.comment-list .reply-container.is-active {
    display: block;
    border-top: 1px solid #eee;
}

.comment-list .reply-container .field {
    margin-bottom: 0;
}

.comment-list .reply-container .comment-input {
    display: none;
}

.comment-list .reply-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/* manual */
.sub .maum-manual .buttons {
    margin-top: 30px;
}

.sub .post-list+.buttons .button {
    width: 25%;
}

.sub .maum-manual .psy-check-list,
.sub .psy-check .psy-check-list {
    justify-content: flex-start;
}

.sub .maum-manual .psy-check-list li,
.sub .psy-check .psy-check-list li {
    width: 12.5%;
}

.sub .maum-manual .psy-check-list a,
.sub .psy-check .psy-check-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 0;
    height: 2.2rem;
    margin: 3px;
    border-radius: 5px;
}

.sub .post-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.sub .post-list>li {
    width: 33.3%;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.sub .post-list>li .thumbnail {
    position: relative;
    height: 160px;
    overflow: hidden;
    border-radius: 10px;
}

.sub .post-list>li .thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.sub .post-content>.keyword {
    font-weight: 600;
    margin-top: .6rem;
    font-size: .8rem;
}

.sub .post-content>.subject {
    margin-top: 3px;
    word-break: keep-all;
}

.sub .post-content>.tags {
    color: #48c774;
    font-size: .8rem;
}

.sub .is-consulting .post-content>.subject {
    margin-top: 10px;
}

.sub .is-consulting .thumbnail {
    position: relative;
}

.sub .is-consulting .thumbnail .running-time,
.sub .is-edu .thumbnail .running-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    line-height: 1;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.sub .post-content>.info {
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    color: #999;
}

.sub .post-content>.info .date {
    margin-right: auto;
}

.sub .post-content>.info .read,
.sub .post-content>.info .author,
.sub .post-content>.info .comment {
    margin-right: 15px;
}

.sub .post-content>.info span b {
    color: #333;
    font-weight: normal;
}

.sub .post-content>.info span i {
    color: #f14668;
    margin-right: 3px;
}

.sub .post-content>.info .author {
    color: #333;
}


/* consulting */
.sub .container>.buttons {
    margin-top: 30px;
}

.sub .consulting .textarea {
    height: 350px;
}

/* todak */
.sub .is-todak a {
    display: block;
    background-color: #f8f6f3;
    border-radius: 10px;
    padding: 20px;
    height: 270px;
}

.sub .is-todak .post-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.sub .is-todak .info {
    flex-wrap: wrap;
}

.sub .is-todak .date {
    width: 100%;
}

.sub .is-todak .subject {
    margin-top: 0;
    font-family: 'Nanum Myeongjo', serif;
    word-break: break-all;
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    height: 170px;
    overflow: hidden;
}

.todak .post-detail .bottom .info,
.phrase .post-detail .bottom .info {
    display: flex;
}

.todak .post-detail .bottom .info dd,
.phrase .post-detail .bottom .info dd {
    margin-right: 15px;
}

.todak .post-detail .bottom .info dd b,
.phrase .post-detail .bottom .info dd b {
    color: #333;
}

/* salon */
.sub .salon .post-list {
    display: block;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.sub .salon .post-list>li {
    width: 100%;
    border-top: 1px solid #eee;
    margin-bottom: 0;
}

.sub .salon .post-list>li a {
    display: block;
    padding: 1rem 0;
}

.sub .salon .post-list .is-notice {
    color: #f14668 !important;
}

.sub .salon .post-content>.category {
    font-size: 12px;
    color: #999;
}

.sub .salon .post-content>.subject i {
    margin-left: 5px;
    color: #aaa;
}

.sub .salon .post-content>.info {
    margin-top: 5px;
}

.sub .salon .post-detail .category {
    display: inline-block;
    font-size: 13px;
    padding: .2rem .5rem;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

/* tv */
.sub .tv .tags {
    margin-bottom: 0;
    color: #48c774;
}

/* phrase */
.sub .phrase .post-list,
.sub .diary .post-list {
    margin: 0;
    border-top: 1px solid #eee;
}

.sub .phrase .post-list>li,
.sub .diary .post-list>li {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin: 0;
}

.sub .phrase .post-list>li a,
.sub .diary .post-list>li a {
    display: block;
    padding: .6rem 0;
}

.sub .phrase .post-content,
.sub .diary .post-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub .phrase .post-content>.info,
.sub .diary .post-content>.info {
    margin: 0;
}

.sub .phrase .post-detail .body {
    text-align: center;
    margin: 70px 0;
}

.sub .phrase .post-detail .phrase-body {
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -1px;
    font-size: 1.8rem;
    word-break: keep-all;
    color: #000;
    width: 80%;
    margin: 0 auto;
}

.sub .phrase .post-detail .phrase-author {
    font-style: italic;
    margin-top: 10px;
    color: #999;
}

.sub .phrase .post-detail .phrase-author::before,
.sub .phrase .post-detail .phrase-author::after {
    display: inline-block;
    content: "-";
    margin: 0 5px;
}

.sub .phrase .post-detail .share {
    margin: 20px 0;
}

/* diary */
.sub .diary .post-content>.subject {
    margin: 0;
}

.sub .diary .post-content>.subject .date {
    display: inline-block;
    width: 80px;
    color: #999;
}

.sub .diary .post-content>.subject i {
    color: #ccc;
}

.sub .diary .post-content>.info .date {
    width: 66px;
    text-align: center;
}

.sub .checkbox {
    display: flex;
    align-items: center;
}

.sub .checkbox input {
    margin-right: 5px;
}

/* psy-check */
.sub .psy-check .post-content .subject {
    margin-top: .8rem;
}

.sub .psy-check .post-content .keyword {
    color: #f14668;
}

.sub .psy-check.is-detail .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.sub .psy-check .check-detail .header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7rem 3rem;
}

.sub .psy-check .check-detail .header .text {
    color: #fff;
}

.sub .psy-check .check-detail .header .keywords {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.sub .psy-check .check-detail .header .title {
    font-size: 2rem;
    color: #fff;
    word-break: keep-all;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.sub .psy-check .check-detail .header .image {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transform: scale(1.2);
}

.sub .psy-check .check-detail .header .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sub .psy-check .check-detail .header .image::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
}

.sub .psy-check .check-detail .body {
    width: 800px;
    margin: 2rem auto;
}

.sub .psy-check .check-detail .body p {
    margin-bottom: 1rem;
}

.sub .psy-check .check-detail .body .buttons {
    margin-top: 2rem;
}

.sub .psy-check.is-complete .content {
    text-align: center;
}

.sub .psy-check.is-complete .content img {
    border-radius: 50%;
    width: 250px;
}

.sub .psy-check.is-complete .content h2 {
    text-align: center;
    font-weight: normal;
    margin: 1rem 0 0 0;
    line-height: 1.2;
}

/* edu */
.sub .edu .post-list .subject {
    margin-top: 10px;
}

.sub .edu .post-list .desc {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    text-align: justify;
}

/* statistic */
.sub .statistic .question {
    margin-bottom: 50px;
    border: 5px solid #eee;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.sub .statistic .question h3 {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-weight: 600;
}

.sub .statistic .question h3 i {
    margin-right: 5px;
}

.sub .statistic .question ul {
    display: flex;
}

.sub .statistic .question ul li {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    width: 170px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #888;
}

.sub .statistic .question ul li img {
    display: block;
    width: 35px;
    margin-right: 7px;
    filter: grayscale(1);
    opacity: .3;
}

.sub .statistic .question ul li.is-active {
    background-color: #57C3C3;
    color: #fff;
    font-weight: 600;
}

.sub .statistic .question ul li.is-active img {
    opacity: 1;
    filter: grayscale(0);
}

.sub .statistic-list {
    flex-wrap: wrap;
    display: none;
}
.sub .statistic-list li {
    width: 20%;
}
.sub .statistic-list a {
    display: block;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}
.sub .statistic-list a img {
    display: block;
    width: 50px;
    margin: 0 auto 10px;
}

.sub .statistic-list.is-active {
    display: flex;
}
.sub .statistic .statistic-title li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #000;
}
.sub .statistic .statistic-title li:last-child {
    margin-bottom: 0;
}
.sub .statistic .statistic-title b {
    display: inline-block;
    width: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    padding: 3px 5px;
}

/* test */
.sub .psy-check .test {
    width: 800px;
    margin: 50px auto 0;
}

.test .testItem {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 1rem 1rem 2rem;
}

.test .testNumber {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-size: 2rem;
    color: #999;
}

.test dl {
    text-align: center;
}

.test dl dt {
    width: 50%;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    word-break: keep-all;
    color: #555;
}

.test ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.test ul li {
    display: table-cell;
}

.test ul li input[type=radio] {
    display: none;
    outline: none;
}

.test ul li label {
    font-size: 1rem;
    color: #999;
    word-break: keep-all;
}

.test ul li label span {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #eee;
    border-radius: 50%;
    margin: 0 auto 5px;
    font-size: 2rem;
    color: #bbb;
    transition: transform .3s;
    cursor: pointer;
}

.test ul li input[type=radio]:checked+label span {
    background-color: #63bd83;
    position: relative;
    transform: translateY(-4px);
    color: #fff;
}

.test ul li input[type=radio]+label span::after {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url('../img/icon_check.png') center no-repeat #2b6d41;
    background-size: 15px;
}

.test ul li input[type=radio]:checked+label span::after {
    display: block;
}

.test ul li input[type=radio]:checked+label {
    color: #2b6d41;
    font-weight: 700;
}

.sub .psy-check.is-test .check-detail .header {
    padding: 3rem;

}

.test .button i {
    margin-right: 5px;
}

/* account */
.account .field-login {
    width: 300px;
    margin: 30px auto 0;
}

.account .slogan,
.account .page-title {
    margin-top: 20px;
    text-align: center;
}

.account .slogan::after,
.account .page-title::after {
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    background-color: #eee;
    margin: 30px auto;
}

.account .slogan p {
    color: #999;
}

.account h1 {
    font-size: 1.8rem;
    line-height: 1.2;
}

.account .buttons {
    margin-top: 30px;
}

.account .buttons-etc {
    display: flex;
    justify-content: space-between;
}

.account .buttons-etc a {
    font-size: 14px;
    line-height: 1;
}

.account .buttons-etc .find {
    display: flex;
    align-items: center;
}

.account .buttons-etc .find .separate {
    margin: 0 10px;
    width: 1px;
    height: 15px;
    border-left: 1px solid #ddd;
}

.button.is-naver {
    border: none;
    background-color: #1FC700;
    color: #fff;
    background-image: url('../img/login_icon_naver.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
}

.button.is-kakao {
    border: none;
    background-color: #F7E317;
    color: #000;
    background-image: url('../img/login_icon_kakao.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px center;
}

.account .field-login .checkbox {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.account .field-login .checkbox input {
    margin-right: 5px;
}

.account .field-register,
.account .field-withdraw {
    width: 500px;
    margin: 30px auto 0;
}

.account .field-register .text-box {
    border: 1px solid #ddd;
    padding: 1rem;
    height: 200px;
    overflow-y: scroll;
    font-size: 13px;
    white-space: pre-line;
}

.account .field-register .checkbox {
    display: flex;
    align-items: center;
}

.account .field-register .checkbox input {
    margin-right: 5px;
}

.account .message {
    margin-top: 2rem;
    /* width: 400px; */
    margin: 1.5rem auto;
}

.account .account-complete {
    text-align: center;
    width: 500px;
    margin: 2rem auto;
}

.account .account-complete img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.account .account-complete h2 {
    font-size: 1.5rem;
    word-break: keep-all;
    width: 400px;
    line-height: 1.3;
    margin: 0 auto 1rem;
}

.account .account-complete h2+p {
    color: #999;
}

.account .box p {
    margin: .5rem 0;
}

.account .user-info .profile {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.account .user-info .profile img {
    width: 100%;
}

.account .user-info dt {
    font-weight: 600;
    cursor: pointer;
}

.account .user-info-list li {
    border: 1px solid #eee;
    margin-bottom: .5rem;
    border-radius: 4px;
}

.account .user-info-list a,
.account .user-info-list .is-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: .9rem;
}

.account .user-info-list label {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: .9rem;
}

.account .user-info-list .checkbox span {
    color: #999;
}

.account .user-info-list .checkbox input:checked+span {
    color: #000;
}

.account .user-info-list dt {
    display: flex;
    align-items: center;
    color: #000;
}

.account .user-info-list dt .number {
    font-size: 13px;
    margin-left: 5px;
}

.account .user-info-list dd {
    color: #999;
}

.account .field-withdraw .control {
    flex-direction: column;
    margin-bottom: .4rem;
}

.account .textarea {
    margin-top: 5px;
}

.account .limit {
    font-size: 12px;
}

.account .test-list {
    width: 500px;
    margin: 0 auto;
}

.account .test-list li a {
    display: block;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}

.account .test-list .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account .test-list .body .date {
    color: #999;
    font-size: 13px;
}

.account .test-list .body .test-title {
    color: #000;
    margin-top: 5px;
    line-height: 1.4;
    padding-right: 20px;
}

.account .test-list .body .keyword {
    color: #48c774;
    font-size: 13px;
}

.account .test-list .body .info {
    display: flex;
    margin-top: 5px;
    font-size: 13px;
    color: #999;
}

.account .test-list .body .info .author {
    margin-right: 15px;
}

.account .test-list .body .info .like i {
    color: #f14668;
    margin-right: 3px;
}

.account .test-list .body .thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
}

.account .test-list .body .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account .check-detail .header {
    padding: 5rem 3rem !important;
}

.account .check-detail .header .info {
    display: flex;
    justify-content: center;
}

.account .check-detail .header .info .author {
    margin-right: 15px;
}

.account .check-detail .header .info .like i {
    color: #f14668;
    margin-right: 3px;
}

.account .check-detail .body h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #000;
    text-align: left;
}

.account .check-detail .body hr {
    margin: 2.5rem 0;
}

.account .check-detail .body .graph {
    text-align: center;
}

.account .check-detail .body .graph .circle {
    background-color: #eee;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 1rem;
}

.account .check-detail .body .graph .circle.color-0 {
    background: rgb(67, 110, 219);
    background: linear-gradient(18deg, rgba(67, 110, 219, 1) 0%, rgba(45, 208, 212, 1) 100%);
}

.account .check-detail .body .graph .circle.color-1 {
    background: rgb(86, 188, 66);
    background: linear-gradient(18deg, rgba(86, 188, 66, 1) 0%, rgba(224, 216, 29, 1) 100%);
}

.account .check-detail .body .graph .circle.color-2 {
    background: rgb(237, 132, 32);
    background: linear-gradient(18deg, rgba(237, 132, 32, 1) 0%, rgba(224, 216, 29, 1) 100%);
}

.account .check-detail .body .graph .circle .score {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #fff;
}

.account .check-detail .body .graph .circle .grade {
    line-height: 1;
    color: #fff;
}

.account .check-detail .body .graph .bar {
    position: relative;
    border: 2px solid #ccc;
    width: 180px;
    margin: 0 auto 30px;
    border-radius: 20px;
    /* overflow: hidden; */
    padding: 3px;
}

.account .check-detail .body .graph .bar-body {
    background-color: #000;
    width: 50%;
    height: 15px;
    content: "";
    border-radius: 20px;
}

.account .check-detail .body .graph .bar .grade-text {
    position: absolute;
    left: 0;
    bottom: -22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.account .check-detail .body .graph .bar .grade-text span {
    display: block;
    font-size: 12px;
}

.account .check-detail .body .graph .comment {
    margin-top: 3.5rem;
    font-size: 1.8rem;
    line-height: 1.3;
}



/* etc */
.etc h1 {
    font-size: 1.8rem;
}

.etc .page-title {
    margin-top: 20px;
    text-align: center;
}

.etc .page-title::after {
    display: block;
    content: "";
    height: 2px;
    width: 100px;
    background-color: #eee;
    margin: 30px auto;
}

.etc .content {
    white-space: pre-line;
}

.etc .buttons {
    margin-top: 30px;
}

/* board */
.board h1 {
    font-size: 1.8rem;
}

.board .page-title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}


.board .field-board {
    width: 500px;
    margin: 30px auto 0;
}

.board .field-board .textarea {
    height: 300px;
}

.board .limit {
    font-size: 12px;
}

.board .text-box {
    border: 1px solid #ddd;
    padding: 1rem;
    height: 200px;
    overflow-y: scroll;
    font-size: 13px;
    white-space: pre-line;
}

.board .buttons {
    margin-top: 30px;
}

.board .board-list {
    border-top: 1px solid #eee;
}

.board .board-list li a {
    display: flex;
    justify-content: space-between;
    padding: .7rem .5rem;
    border-bottom: 1px solid #eee;
}

.board .board-list .board-title {
    padding-right: 20px;
}

.board .board-list .board-date {
    color: #999;
}

.board .pagination {
    margin-top: 30px;
}

.board .board-detail {
    margin-top: 30px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}

.board .board-detail .header {
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.board .board-detail .header dt {
    font-size: 1.3rem;
    color: #000;
}

.board .board-detail .header dd {
    color: #999;
}

.board .board-detail .board-content {
    padding: 1rem;
}

.board .board-detail .board-content p {
    margin: 1rem 0;
}


/* field */
.field:not(:last-child) {
    margin-bottom: 1.2rem;
}

/* tab */

.sub .tabs li a {
    font-size: .8rem;
}

.tabs.is-toggle li.is-active a {
    background-color: #444;
    border-color: #444;
}



/* message */
.sub .message {
    font-size: 12px;
}

.sub .message ul {
    margin-left: 1rem;
    padding: 1.2rem;
}

.sub .message li {
    list-style: disc;
    margin-bottom: .3rem;
}

.sub .message li:last-of-type {
    margin-bottom: 0;
}

/* footer */
.footer {
    background-color: #fff;
    padding: 0 0 40px;
}

.footer .foot-menu {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px;
}

.footer .foot-menu nav {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
}

.footer .foot-menu nav a {
    color: #555;
}

.footer .foot-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    font-size: 13px;
    color: #999;
    margin-bottom: 20px;
}

.footer .foot-content .foot-logo {
    width: 80px;
    margin-bottom: 15px;
}

.footer .foot-content .foot-logo img {
    display: block;
}

.footer .foot-content .foot-info {
    width: 700px;
}

.footer .foot-content .foot-info dt {
    line-height: 1.7;
    font-weight: 600;
}

.footer .foot-content .foot-info dd {
    display: inline-block;
    margin-right: 15px;
    line-height: 1.7;
}

.footer .foot-content .foot-info dd b {
    margin-right: 5px;
}

.footer .copyright {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
}

.footer .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .link {
    display: flex;
    align-items: center;
}

.footer .related-site {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 140px;
    height: 1.8rem;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;
}

.footer .related-site i {
    transition: transform .3s;
}

.footer .related-site.is-active i {
    transform: rotate(180deg);
}

.footer .related-site .site-list {
    position: absolute;
    left: -1px;
    bottom: calc(1.8rem - 2px);
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% + 2px);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transform: translateY(10px);
    transition: opacity .3s, transform .3s;
}

.footer .related-site.is-active .site-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.footer .related-site .site-list li a {
    display: block;
    padding: 5px 10px;
    line-height: 1.5;
    color: #999;
    transition: color .3s, background-color .3s;
    font-size: 12px;
}

.footer .related-site .site-list li a:hover {
    background-color: #eee;
    color: #000;
}

.footer .sns {
    display: flex;
}

.footer .sns li {
    width: 30px;
    margin-right: 10px;
}

.footer .sns li:last-of-type {
    margin-right: 0;
}

.footer .sns li img {
    display: block;
}

.footer .partner dl {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer .partner dl dt {
    border-right: 1px solid #eee;
    line-height: 1;
    padding-right: 10px;
}

.footer .partner dl dd {
    margin-left: 10px;
}

.footer .partner dl dd img {
    display: block;
    height: 25px;
}

footer .go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    transition: opacity .3s;
}

footer .go-top::before {
    display: block;
    content: "\f062";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5rem;
}

footer .go-top.is-active {
    opacity: 1;
    cursor: pointer;
}

/* modal */
.modal-content .box {
    text-align: center;
    font-size: 14px;
}

.modal-content .buttons {
    margin-top: 1rem;
}

.modal.is-small .modal-content {
    width: 300px;
}

.modal-profile .profile .file {
    justify-content: center;
}

.modal-profile .profile img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
}