@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap&subset=korean');

html,
body {
    font-family: 'Nanum Gothic', sans-serif;
    /* font-size: 14px; */
}

.no-scroll {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}

a,
a:hover {
    color: #000;
}

.font-serif {
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -1px;
}

/* header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    max-width: 100%;
    padding: 30px;
}

header .logo {
    height: 1.3rem;
    flex-basis: 200px;
}

header .logo img {
    height: 100%;
}

header .main-menu {
    display: flex;
}

header .main-menu>li {
    position: relative;
}

header .main-menu>li>a {
    display: block;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
    transition: transform .3s;
}

header .main-menu>li>a:hover {
    transform: translateY(-5px);
}

header .main-menu>li:hover .sub-menu {
    display: block;
}

header .main-menu>li:nth-of-type(1) b {
    color: #57C3C3;
}

header .main-menu>li:nth-of-type(2) b {
    color: #83C670;
}

header .main-menu>li:nth-of-type(3) b {
    color: #F0AA4A;
}

header .main-menu>li>a b {
    margin-left: 5px;
}

header .sub-menu {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 180px;
    margin: 0 auto;
    z-index: 99;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.06);
    display: none;
}

header .sub-menu a {
    display: flex;
    align-items: center;
    line-height: 2.5rem;
    padding: 5px 30px;
    color: #555;
}

header .sub-menu a:hover {
    background-color: #f7f7f7;
    color: #000;
}

header .sub-menu img {
    width: 30px;
    margin-right: 5px;
}

header .sub-menu span {
    font-size: 15px;
}

header .util {
    flex-basis: 200px;
    text-align: right;
}

header .util a {
    font-size: 14px;
    margin-right: 1.5rem;
}

header .util a:last-of-type {
    margin-right: 0;
}


/* slider-banner */
.main .slider-banner {
    margin-top: 20px;
}

.main .slider-banner .container {
    max-width: 1600px;
}

.main .swiper-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.main .swiper-slide {
    text-align: center;
    border-radius: 20px;
    background-color: #f5f6f6;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 50px 30px -20px rgba(20, 20, 20, 0);
    transform: translateY(0);
    transition: background .5s, color .5s, transform 1s, box-shadow 1s;
}

.main .swiper-slide dt {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.4);
    padding: 5px 8px;
    line-height: 1;
    border-radius: 5px;
}

.main .swiper-slide dd.emoji {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .swiper-slide dd.emoji img {
    width: 70px;
}

.main .swiper-slide dd.subject {
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}

.main .swiper-slide dd.desc {
    font-size: 15px;
    opacity: .5;
    padding: 0 2rem;
    word-break: keep-all;
}

.main .swiper-slide:nth-of-type(1) {
    background-color: #F8EFED;
}

.main .swiper-slide:nth-of-type(2) {
    background-color: #E1EFF0;
}

.main .swiper-slide:nth-of-type(3) {
    background-color: #E6F2E6;
}

.main .swiper-slide:nth-of-type(4) {
    background-color: #F5F5DF;
}

.main .swiper-slide:nth-of-type(5) {
    background-color: #F5F0F7;
}

.main .swiper-slide-active {
    color: #000;
    transform: translateY(-30px);
    box-shadow: 0 40px 30px -20px rgb(255, 255, 255), 0 60px 40px -40px rgba(20, 20, 20, .2);
}

.main .swiper-slide dl {
    padding: 50px;
}

/* slogan */
.main .slogan {
    text-align: center;
    margin-bottom: 50px;
}

.main .slogan h1 {
    font-size: 2rem;
    color: #333;
}

.main .slogan h1+p {
    color: #999;
}

/* main-title */
.main-title {
    display: flex;
    margin-bottom: 20px;
}

.main-title img {
    width: 60px;
}

.main-title h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}

.main-title h2 span {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    line-height: 1;
    color: #333;
}

.main-title h2 sup {
    font-size: 1rem;
    color: #999;
    line-height: 1;
    margin-bottom: 3px;
}

.main-title .breadcrumb {
    margin-left: auto;
    display: flex;
    font-size: 12px;
}

.main-title .breadcrumb .current span {
    padding: 0 0.75em;
    font-weight: 600;
}

.main-title .breadcrumb a {
    color: #999;
}

.main-title .breadcrumb a:hover {
    color: #555;
}

.breadcrumb li+li::before {
    color: #ccc;
}

.sub .main-title {
    width: 100%;
    background-color: #f6f6f6;
    padding: 15px 20px;
    border-radius: 10px;
}

.sub .main-title img {
    width: 40px;
}

.sub .main-title h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub .main-title h2 span {
    font-size: 1.4rem;
}

.sub .main-title h2 .description {
    font-weight: normal;
}

/* psy-check */
.psy-check {
    margin-bottom: 100px;
}

.psy-check-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.psy-check-list a {
    display: block;
    border: 1px solid #000;
    padding: .6rem 2rem;
    text-align: center;
    margin: .5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    transition: background-color .3s, transform .3s, color .5s;
}

.psy-check-list a::before {
    display: inline-block;
    content: "#";
    margin-right: 3px;
}

.psy-check-list a:hover {
    transform: translateY(-4px);
}

.psy-check-list li.is-active a {
    font-weight: 600;
}

/* image-test */
.image-test {
    margin-bottom: 100px;
}

.sub .image-test,
.sub .maum-manual {
    margin-bottom: 60px;
}

.sub .image-test .container,
.sub .maum-manual .container {
    width: 800px;
}

.image-test .image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-test .image-list li {
    position: relative;
    width: 23%;
    padding-top: 15%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: calc(8% / 3);
    margin-bottom: calc(8% / 3);
}

.image-test .image-list li:nth-of-type(4n) {
    margin-right: 0;
}

.image-test .image-list li a {
    display: block;
}

.image-test .image-list li img {
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    width: 100%;
}

.image-test .image-list li::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 40%);
    z-index: 1;
    pointer-events: none;
}

.image-test .image-list li span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.images input[type=file] {
    display: none;
}

.images.js-upload-image .upload-button {
    background-color: #f7f7f7;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.images.js-upload-image .upload-button p {
    color: #999;
}

.images.js-upload-image .upload-button p b {
    display: block;
    font-size: 1.3rem;
    color: #333;
}

/* maum-manual */
.main .maum-manual {
    margin-bottom: 100px;
}

.main .manual-list {
    display: flex;
}

.main .manual-list li {
    position: relative;
    width: 32%;
    margin-right: 2.5%;
}

.main .manual-list li:last-of-type {
    margin-right: 0;
}

.main .manual-list li .photo {
    position: relative;
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
    border-radius: 10px;
}

.main .manual-list li img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .manual-list li .tag {
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

.main .manual-list li:nth-of-type(1) .tag {
    background-color: #25D0AF;
}

.main .manual-list li:nth-of-type(2) .tag {
    background-color: #EF942C;
}

.main .manual-list li:nth-of-type(3) .tag {
    background-color: #37A2E6;
}

.main .manual-list li dl {
    padding: .8rem;
}

.main .manual-list li dt {
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .manual-list li dd {
    color: #999;
}

.main .manual-list li dd.info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main .manual-list li dd.info .like i {
    color: #F26969;
}

.main .manual-list li dd.info .like span {
    color: #000;
}

/* share-heart */
.main .share-heart {
    margin-bottom: 100px;
}

.main .share-heart .content-list {
    display: flex;
}

.main .share-heart .content-list li {
    margin-right: 2.5%;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
}

.main .share-heart .content-list li:last-of-type {
    margin-right: 0;
}

.main .share-heart .content-list li .photo {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
}

.main .share-heart .content-list li .photo img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main .share-heart .content-list li dl {
    text-align: center;
    padding: 1rem;
}

.main .share-heart .content-list li dl dt {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .share-heart .content-list li dl dd {
    color: #999;
}

/* relaxation */
.main .relaxation {
    margin-bottom: 100px;
}

.main .relaxation .content-list {
    display: flex;
    justify-content: space-between;
}

.main .relaxation .content-list li {
    width: 33.3%;
    text-align: center;
}

.main .relaxation .content-list li img {
    border-radius: 50%;
    width: 60%;
}

.main .relaxation .content-list dl {
    padding: 1rem;
}

.main .relaxation .content-list dl dt {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 600;
}

.main .relaxation .content-list dl dd {
    color: #999;
    width: 85%;
    margin: 0 auto;
}

/* fullwidth banner */
.fullwidth-banner .container {
    max-width: 100%;
    width: 100%;
}

.fullwidth-banner .container a {
    display: block;
    background-color: #f4f6f8;
    width: 100%;
}

.fullwidth-banner .container a img {
    display: block;
    margin: 0 auto;
}

/* main button */
.main .buttons {
    margin-top: 30px;
}

.main .button {
    width: 280px;
}


/* sub */
.top-bar {
    margin: 2.5rem 0;
    display: flex;
    justify-content: space-between;
}

.top-bar .description {
    font-size: 1.3rem;
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: -2px;
    border-left: 3px solid #eee;
    padding-left: 1rem;
    color: #000;
}

/* post */
.post-detail,
.post-write {
    padding: 20px;
}

.post-detail .images,
.post-write .images {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.post-detail .images img,
.post-write .images img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
}

.post-detail .body {
    margin-bottom: 2rem;
    color: #555;
}
.post-detail .body p {
    margin: 1rem 0;
    line-height: 1.7;
}
.post-detail .body p:first-of-type {
    margin-top: 0;
}
.post-detail .body p:last-of-type {
    margin-bottom: 0;
}
.post-detail .body .images {
    margin: 2rem 0;
}

.post-write .body .textarea {
    height: 200px;
}

.post-detail .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.post-detail .bottom .info dt {
    color: #000;
}

.post-detail .bottom .info dd {
    color: #999;
    font-size: 13px;
}

.post-detail .likes {
    font-size: 1.2rem;
}

.post-detail .likes i,
.comment-list .likes i {
    color: #ccc;
    margin-right: .3rem;
}

.post-detail .likes .like-count {
    color: #000;
}

.post-detail .buttons,
.post-write .buttons {
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding-top: 2rem;
}

.post-detail .buttons .is-edit {
    margin-left: 30px !important;
}

.button.likes.is-clicked i {
    color: #f14668;
}

.sub .image-test .image-list li span {
    bottom: 10px;
    left: 15px;
    font-size: 13px;
}

.sub .image-test .container>.buttons {
    margin-top: 10px;
}

.sub .image-test .container>.buttons .button {
    width: 25%;
}

.sub .post-detail .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.sub .post-detail .header .keyword {
    display: inline-block;
    align-items: center;
    font-size: 13px;
    padding: .2rem .8rem;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sub .post-detail .header h1 {
    line-height: 1.5;
    font-size: 1.5rem;
    color: #000;
}
.sub .post-detail .header .date {
    line-height: 1;
    margin-top: 5px;
    color: #999;
}
.sub .post-detail .share {
    display: flex;
    justify-content: center;
}

.sub .post-detail .share a {
    display: block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 .2rem;
}
.sub .post-detail .share img {
    display: block;
}

/* comments */
.comments {
    padding: 20px;
}

.comments h3 {
    display: flex;
    align-items: center;
}

.comments h3 .number {
    margin-left: .3rem;
    font-size: 1rem;
    padding: 0 .8rem;
}

.comments .textarea {
    resize: none;
    max-height: unset;
    min-height: unset;
    height: 95px !important;
    border-radius: 3px 3px 0 0;
}

.comments .input-footer {
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    display: flex;
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    font-size: 12px;
}

.comment-list {
    margin-top: 10px;
}

.comment-list>li {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}

.comment-list .comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.comment-list .comment-top .user-info {
    line-height: 1;
}

.comment-list .comment-top .user-info b {
    margin-right: 5px;
}

.comment-list .comment-top .user-info dt {
    margin-bottom: 5px;
    font-size: 14px;
}

.comment-list .comment-top .user-info dd {
    font-size: 11px;
    color: #999;
}

.comment-list .comment-top .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.comment-list .comment-top .button.likes {
    padding: 0 .5rem;
    height: 2rem;
    font-size: 14px;
}

.comment-list .comment-top .button.likes i {
    margin-right: 3px;
    /* color: #ddd; */
}

.comment-list .comment-body {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #777;
    text-align: justify;
}

.comment-list .comment-body .deleted {
    color: #ccc;
    margin-top: 5px;
}

.comment-list .comment-footer .comment-menu {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.comment-list .comment-footer .comment-menu a {
    color: #000;
    padding: 10px 0;
}

.comment-list .comment-footer .comment-menu .util a {
    color: #bbb;
}

.comment-list .comment-footer .comment-menu .util a:first-of-type {
    margin-right: 10px;
}

.comment-list .reply-container .comment-menu {
    justify-content: flex-end;
}

.comment-list .reply-container .comment-menu a:first-of-type {
    margin-right: 0 !important;
}

.comment-list .comment-footer .comment-menu .js-button-viewReply b {
    margin-left: 5px;
}

.comment-list .comment-footer {
    padding-bottom: 10px;
}

.comment-list .reply-container {
    display: none;
    background-color: #FAFAFA;
    padding: 15px;
}

.comment-list .reply-container.is-active {
    display: block;
    border-top: 1px solid #eee;
}

.comment-list .reply-container .field {
    margin-bottom: 0;
}

.comment-list .reply-container .comment-input {
    display: none;
}

.comment-list .reply-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/* manual */
.sub .maum-manual .buttons {
    margin-top: 30px;
}

.sub .maum-manual .buttons .button {
    width: 25%;
}

.sub .maum-manual .psy-check-list {
    justify-content: flex-start;
}

.sub .maum-manual .psy-check-list li {
    width: 12.5%;
}

.sub .maum-manual .psy-check-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 0;
    height: 2.2rem;
    margin: 3px;
    border-radius: 5px;
}

.sub .manual-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.sub .manual-list>li {
    width: 33.3%;
    padding: 1rem;
}

.sub .manual-list>li .thumbnail {
    position: relative;
    height: 160px;
    overflow: hidden;
    border-radius: 10px;
}

.sub .manual-list>li .thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.sub .manual-content>.keyword {
    font-weight: 600;
    margin-top: .6rem;
    font-size: .8rem;
}

.sub .manual-content>.subject {
    margin-top: 3px;
    word-break: keep-all;
}

.sub .manual-content>.info {
    margin-top: 10px;
    display: flex;
    font-size: 13px;
    color: #999;
}

.sub .manual-content>.info .date {
    margin-right: auto;
}

.sub .manual-content>.info .read {
    margin-right: 15px;
}

.sub .manual-content>.info span b {
    color: #333;
    font-weight: normal;
}

.sub .manual-content>.info span i {
    color: #f14668;
    margin-right: 3px;
}


/* footer */
.footer {
    background-color: #fff;
    padding: 0 0 40px;
}

.footer .foot-menu {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px;
}

.footer .foot-menu nav {
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
}

.footer .foot-menu nav a {
    color: #555;
}

.footer .foot-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    font-size: 13px;
    color: #999;
    margin-bottom: 20px;
}

.footer .foot-content .foot-logo {
    width: 80px;
    margin-bottom: 15px;
}

.footer .foot-content .foot-logo img {
    display: block;
}

.footer .foot-content .foot-info {
    width: 700px;
}

.footer .foot-content .foot-info dt {
    line-height: 1.7;
    font-weight: 600;
}

.footer .foot-content .foot-info dd {
    display: inline-block;
    margin-right: 15px;
    line-height: 1.7;
}

.footer .foot-content .foot-info dd b {
    margin-right: 5px;
}

.footer .copyright {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
}

.footer .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer .link {
    display: flex;
    align-items: center;
}

.footer .related-site {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    width: 140px;
    height: 1.8rem;
    padding: 0 10px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;
}

.footer .related-site i {
    transition: transform .3s;
}

.footer .related-site.is-active i {
    transform: rotate(180deg);
}

.footer .related-site .site-list {
    position: absolute;
    left: -1px;
    bottom: calc(1.8rem - 2px);
    background-color: #fff;
    border: 1px solid #ccc;
    width: calc(100% + 2px);
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    transform: translateY(10px);
    transition: opacity .3s, transform .3s;
}

.footer .related-site.is-active .site-list {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.footer .related-site .site-list li a {
    display: block;
    padding: 5px 10px;
    line-height: 1.5;
    color: #999;
    transition: color .3s, background-color .3s;
    font-size: 12px;
}

.footer .related-site .site-list li a:hover {
    background-color: #eee;
    color: #000;
}

.footer .sns {
    display: flex;
}

.footer .sns li {
    width: 30px;
    margin-right: 10px;
}

.footer .sns li:last-of-type {
    margin-right: 0;
}

.footer .sns li img {
    display: block;
}

.footer .partner dl {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer .partner dl dt {
    border-right: 1px solid #eee;
    line-height: 1;
    padding-right: 10px;
}

.footer .partner dl dd {
    margin-left: 10px;
}

.footer .partner dl dd img {
    display: block;
    height: 25px;
}

footer .go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 99;
    opacity: 0;
    transition: opacity .3s;
}

footer .go-top::before {
    display: block;
    content: "\f062";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1.5rem;
}

footer .go-top.is-active {
    opacity: 1;
    cursor: pointer;
}

/* modal */
.modal-content .box {
    text-align: center;
    font-size: 14px;
}
.modal-content .buttons {
    margin-top: 1rem;
}
.modal.is-small .modal-content {
    width: 300px;
}